@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

:root {
  --color: #ff77a2;
  --pink: #ff77a2;
  --blue: #77c4ff;
}

body {
  font-family: 'Indie Flower', cursive, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  margin: 0;
}

.title {
  background-color: var(--color);
  color: #fff;
  font-size: 4rem;
  letter-spacing: .2rem;
  font-weight: bold;
  text-align: center;
  padding: .6rem;
}
.nav {
  display: grid;
  grid-template-columns: auto auto;
  margin: .5rem auto;
  max-width: 32rem;
  color: var(--color);
  font-size: 2rem;
  font-weight: bold;
}

.nav>#reset {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 5rem;
  cursor: pointer;
}

.nav>#grid-size {
  text-align: right;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  width: 512px;
  height: 512px;
  margin: 0 auto;
  border: 1px solid var(--color);
}
main>div {
  float: left;
  box-sizing: border-box;
  background-color: var(--color);
  opacity: 0.0;
  border: 1px solid var(--color);
}
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme>div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: .5rem;
  cursor: pointer;
}
.theme>#pink {
  background-color: var(--pink);
}
.theme>#blue {
  background-color: var(--blue);
}
